{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
  <div class="container">
          {{ form_errors(form) }}

    <h1>Login</h1>
      {{ form_start(form) }}
       <div class="mb-2 col-4">
        <label for="nickname" class="form-label">Nickname</label>
        {{ form_widget(form.nickname, {'attr': {'class': 'form-control'}}) }}
      </div>

       <div class="mb-2 col-4">
        <label for="nickname" class="form-label">Password</label>
        {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
      </div>

      <button type="submit" class="btn btn-primary">Login</button>

  {{ form_end(form, {'render_rest': false}) }}

  </div>
{% endblock %}
